function Main.main 1
push constant 10
pop local 0
label WHILE0
push local 0
push constant 0
gt
not
if-goto WHILE1
push local 0
call Output.printInt 1
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE0
label WHILE1
return
push constant 0
