function Snake.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 4
pop this 3
push this 3
push argument 0
push argument 1
push argument 2
push argument 3
push argument 5
call SnakeBoard.new 6
pop this 2
push this 2
call SnakeBoard.setBoard 1
pop temp 0
push this 2
push constant 594
call SnakeBoard.getX 2
push this 2
push constant 594
call SnakeBoard.getY 2
call Segment.new 2
pop this 0
push this 2
push constant 593
call SnakeBoard.getX 2
push this 2
push constant 593
call SnakeBoard.getY 2
call Segment.new 2
pop this 1
push this 1
push this 0
call Segment.setPrev 2
pop temp 0
push this 0
push this 3
call Segment.draw 2
pop temp 0
push this 1
push this 3
call Segment.draw 2
pop temp 0
push this 2
call SnakeBoard.makeApple 1
pop temp 0
push pointer 0
return
function Snake.step 5
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Segment.getX 1
pop local 0
push this 0
call Segment.getY 1
push this 3
sub
pop local 1
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Segment.getX 1
push this 3
add
pop local 0
push this 0
call Segment.getY 1
pop local 1
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Segment.getX 1
pop local 0
push this 0
call Segment.getY 1
push this 3
add
pop local 1
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Segment.getX 1
push this 3
sub
pop local 0
push this 0
call Segment.getY 1
pop local 1
label IF_FALSE3
push this 2
push local 0
push local 1
call SnakeBoard.getBoardVal 3
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Snake.gameOver 1
pop temp 0
label IF_FALSE4
push local 0
push local 1
call Segment.new 2
pop local 2
push this 0
push local 2
call Segment.setPrev 2
pop temp 0
push local 2
pop this 0
push this 0
push this 3
call Segment.draw 2
pop temp 0
push this 2
push local 0
push local 1
call SnakeBoard.getBoardVal 3
push constant 2
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push this 1
call Segment.getX 1
push this 1
call Segment.getY 1
push constant 0
call SnakeBoard.setBoardVal 4
pop temp 0
push this 1
push this 3
call Segment.erase 2
pop temp 0
push this 1
call Segment.getPrev 1
pop local 3
push this 1
call Segment.dispose 1
pop temp 0
push local 3
pop this 1
goto IF_END5
label IF_FALSE5
push this 2
call SnakeBoard.makeApple 1
pop temp 0
push this 2
push constant 1
call SnakeBoard.drawScore 2
pop temp 0
label IF_END5
push this 2
push local 0
push local 1
push constant 1
call SnakeBoard.setBoardVal 4
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
return
function Snake.gameOver 0
push argument 0
pop pointer 0
push constant 10
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Snake.dispose 1
push argument 0
pop pointer 0
push this 1
call Segment.getPrev 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Segment.getPrev 1
pop local 0
push local 0
call Segment.dispose 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
