function Snake.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 2
pop this 2
push argument 1
push argument 0
call Segment.new 2
pop this 0
push argument 1
push this 2
sub
push argument 0
call Segment.new 2
pop this 1
push this 1
push this 0
call Segment.setPrev 2
pop temp 0
push pointer 0
push this 0
call Snake.draw 2
pop temp 0
push pointer 0
push this 1
call Snake.draw 2
pop temp 0
push pointer 0
return
function Snake.step 3
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Segment.getX 1
push this 0
call Segment.getY 1
push this 2
sub
call Segment.new 2
pop local 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Segment.getX 1
push this 2
add
push this 0
call Segment.getY 1
call Segment.new 2
pop local 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Segment.getX 1
push this 0
call Segment.getY 1
push this 2
add
call Segment.new 2
pop local 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Segment.getX 1
push this 2
sub
push this 0
call Segment.getY 1
call Segment.new 2
pop local 0
label IF_FALSE3
push this 0
push local 0
call Segment.setPrev 2
pop temp 0
push local 0
pop this 0
push pointer 0
push this 0
call Snake.draw 2
pop temp 0
push argument 2
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push this 1
call Snake.erase 2
pop temp 0
push this 1
call Segment.getPrev 1
pop local 1
push this 1
call Segment.dispose 1
pop temp 0
push local 1
pop this 1
label IF_FALSE4
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
return
function Snake.dispose 1
push argument 0
pop pointer 0
push this 1
call Segment.getPrev 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Segment.getPrev 1
pop local 0
push local 0
call Segment.dispose 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.draw 2
push argument 0
pop pointer 0
push argument 1
call Segment.getX 1
pop local 0
push argument 1
call Segment.getY 1
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push constant 1
add
push local 1
push constant 1
add
push local 0
push this 2
add
push constant 1
sub
push local 1
push this 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.erase 2
push argument 0
pop pointer 0
push argument 1
call Segment.getX 1
pop local 0
push argument 1
call Segment.getY 1
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 1
add
push local 1
push constant 1
add
push local 0
push this 2
add
push constant 1
sub
push local 1
push this 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
