function Bat.new 0
push constant 1 //pass num_fields to Memory.alloc for allocation in heap
call Memory.alloc 1
pop pointer 0 //Set 'this' to object base address
push argument 0 //value of Ax
pop this 0 //bind topmost stack value to x
push argument 1 //value of Ay
pop this 1 //bind topmost stack value to y
push argument 2 //value of Awidth
pop this 2 //bind topmost stack value to width
push argument 3 //value of Aheight
pop this 3 //bind topmost stack value to height
push constant 2 
pop this 4 //bind topmost stack value to direction
call Bat.show 0
pop temp 0 //remove return value from stack after do statement
push pointer 0 //'this'
return
push pointer 0 
function Bat.dispose 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push pointer 0 //'this'
call Memory.deAlloc 1
pop temp 0 //remove return value from stack after do statement
return
push constant 0 
function Bat.show 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
call Bat.draw 0
pop temp 0 //remove return value from stack after do statement
return
push constant 0 
function Bat.hide 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
call Bat.draw 0
pop temp 0 //remove return value from stack after do statement
return
push constant 0 
function Bat.draw 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push this 2 //value of width
add
push this 1 //value of y
push this 3 //value of height
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
return
push constant 0 
function Bat.setDirection 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push argument 1 //value of Adirection
pop this 4 //bind topmost stack value to direction
return
push constant 0 
function Bat.getLeft 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 0 //value of x
return
function Bat.getRight 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 0 //value of x
push this 2 //value of width
add
return
function Bat.setWidth 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
call Bat.hide 0
pop temp 0 //remove return value from stack after do statement
push argument 1 //value of Awidth
pop this 2 //bind topmost stack value to width
call Bat.show 0
pop temp 0 //remove return value from stack after do statement
return
push constant 0 
function Bat.move 1
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 4 //value of direction
push constant 1 
eq
not
if-goto IF0
push this 0 //value of x
push constant 4 
sub
pop this 0 //bind topmost stack value to x
push this 0 //value of x
push constant 0 
lt
not
if-goto IF2
push constant 0 
pop this 0 //bind topmost stack value to x
goto IF3
label IF2
label IF3
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 2 //value of width
add
push constant 1 
add
push this 1 //value of y
push this 0 //value of x
push this 2 //value of width
add
push constant 4 
add
push this 1 //value of y
push this 3 //value of height
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push constant 3 
add
push this 1 //value of y
push this 3 //value of height
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
goto IF1
label IF0
push this 0 //value of x
push constant 4 
add
pop this 0 //bind topmost stack value to x
push this 0 //value of x
push this 2 //value of width
add
push constant 511 
gt
not
if-goto IF4
push constant 511 
push this 2 //value of width
sub
pop this 0 //bind topmost stack value to x
goto IF5
label IF4
label IF5
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push constant 4 
sub
push this 1 //value of y
push this 0 //value of x
push constant 1 
sub
push this 1 //value of y
push this 3 //value of height
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 2 //value of width
add
push constant 3 
sub
push this 1 //value of y
push this 0 //value of x
push this 2 //value of width
add
push this 1 //value of y
push this 3 //value of height
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
label IF1
return
push constant 0 
